<footer class="footer-secion">
    <section class="footer-main">

        <div class="row m-0">
            <div class="col-md-2"></div>
            <div class="col-sm-12 col-12 col-md-3 col-lg-3 p-2 footer-logo-box">
                <div class="footer-logo">
                    <a href="https://www.sciflare.com/"><img src="/assets/images/logo.png"></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-12 col-lg-3 p-2">
                <div class="copyright">Copyright © 2020 All Rights Reserved</div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 footer-link-box p-2">
                <div class="footer-link"><a href="#">Terms of Use</a>/<a href="#">Privacy Policy</a></div>
            </div>
            <div class="col-md-1"></div>

        </div>



    </section>
</footer>